/* CSS RESET START */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END*/

body{
	background-image: url(images/flat-arabic-pattern-background_79603-1826.avif); 
    font-size: 16px;
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}
.top-bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #333;
	border-bottom: 2px solid black;
	z-index: 999;
}

.logo-idn{
	width: 70px;
	height: 70px;
	background-image: url(images/logo-idn.png);
	background-repeat: no-repeat;
	display: inline-block;
}

.logo-hsi{
	width: 60px;
	height: 70px;
	margin-right: 1px;
	margin-top: 8px;
	margin-left: 10px;
	background-image: url(images/logo-hsi.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.top-bar .judul{
	position: absolute;
	left: 0;
	right: 0;
	display: inline-block;
	font-size: 40px;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	color: rgb(243, 243, 243);
	font-family: 'Caveat Brush', cursive;
}

.container{
    width: 990px;
    margin: 100px auto 8px auto;
	padding-top: 2px;
    background-color: #B2B2B2;
	border: 1px solid #e3e1e1;
	position: relative;
	border-radius: 14px;
}

/* .header{
	padding: 20px;
}

.header .judul{
    font-size: 40px;
    font-weight: bold;
}

.header ul {
	list-style-type: none;
	margin-top: 30px;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 15px;
}

.header li {
	float: left;
	margin-right: 14px;
}

.header li a{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.header li a:hover {
	background-color: #111;
} */
.hero {
	margin: 8px 6px;
	height: 380px;
	background-image: url(images/534424.jpg);
	background-size: cover;
	background-repeat: none;
	background-position: 0 -140px;
	/* border-bottom: 5px solid lightblue;
	border-top: 5px solid salmon; */
	border-radius: 8px;
}

.content{
	overflow: auto;
}


.main{
	width: 660px;
	padding: 20px;
	box-sizing: border-box;
	float: left;
	border-right: 1px solid #e3e1e1;
}

.main h2{
	font-size: 30px;
	font-weight: bold;
}

.main #penulis{
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 20px;
}
.main  #penulis a{
	color: white;
	text-decoration: none;
}
.main p {
	text-indent: 16px;
	margin-bottom: 22px;
	font-size: 16px;
	text-align: justify
}

.main .arab{
	padding: 14px;
	font-family: 'Amiri', serif;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
	line-height: 46px;
}
.main .makna{
	text-align: justify;
	font-style: italic;
}

.miring{
	font-style: italic;
}

.main .point{
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
} 

.main .dalil{
	text-align: center;
}

/* sidebar */

.sidebar{
	border-radius: 10px;
	background-color: #f3f1f1;
	border-left: 1px solid #e3e1e1;
	width: 250px;
	float: right;
	padding: 30px;
	height: 6535px;
	overflow: auto;
}
.sidebar h4 {
	font-size: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
}
.sidebar img{
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 8px auto;
	display: block;
}

.sidebar ul {
	margin-left: 40px;
	margin-bottom: 20px;
}
.sidebar ul li{
	font-size: 14px;
	line-height: 20px;
	list-style: circle;
}

h5{
	font-size: 18px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 8px;
	/* color: #666; */
}

.sidebar p{
	font-size: 14px;
	line-height: 20px;
}
.profile{
	margin-bottom: 20px;
	text-align: justify
}

.sidebar i{
	margin-bottom: 4px;
	text-align: center;
	float: left;
}

.sosmed {
	overflow: auto;
	width: 200px;
	margin: auto;
}

.sosmed p{
	display: inline-block;
	text-align: left;
	margin-left: 30px;
}

/* footer */

.copyright {
	color: #565555;
	font-size: 15px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

.footer {
	height: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: #191919;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.footer .copy {
	margin-top: 30px;
	color: #eaeaea;
	font-size: 16px;
	text-align: center;
}

.social-icons a {
	text-decoration: none;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e6e3e3;
	margin: 20px 10px;
	border-radius: 50%;
	margin-bottom: 30px;

}

.social-icons {
	display: flex;

}

.social-icons i,
.social i {
	color: #000000;
}

.social-icons a:hover {
	background-color: #000000;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	transition: all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover i {
	color: #FFFFFF;
	transition: all ease 0.5s;
}

.instagram{
	width: 200px;
	height: 200px;
	background-image: url(images/instagram.png);
	background-repeat: no-repeat;
	display: inline-block;
	text-indent: -9999px;
	position: absolute;
	top: -13px;
	right: -13px;

}

